$white: #fff;
$black: #000;

$color-neutral-0: $white !default;
$color-neutral-25: #fafafa !default;
$color-neutral-50: #f7f7f7 !default;
$color-neutral-100: #f5f5f5 !default;
$color-neutral-200: #ededed !default;
$color-neutral-300: #e6e6e7 !default;
$color-neutral-400: #d7d8d9 !default;
$color-neutral-500: #cdcecd !default;
$color-neutral-600: #b5b5b7 !default;
$color-neutral-700: #9c9c9f !default;
$color-neutral-800: #838387 !default;
$color-neutral-900: #6a6b70 !default;
$color-neutral-1000: #515258 !default;
$color-neutral-1100: #393a40 !default;
$color-neutral-1200: #202128 !default;
$color-neutral-1300: #070810 !default;

$color-blue-50: #f1f2ff !default;
$color-blue-100: #dcdeff !default;
$color-blue-200: #b8beff !default;
$color-blue-300: #959dfe !default;
$color-blue-400: #717dfe !default;
$color-blue-500: #4e5cfe !default;
$color-blue-600: #4653e5 !default;
$color-blue-700: #3e4acb !default;
$color-blue-800: #3740b2 !default;
$color-blue-900: #2f3798 !default;
$color-blue-1000: #272e7f !default;
$color-blue-1100: #1f2566 !default;

$color-green-50: #ecfcf1 !default;
$color-green-100: #d0f6dc !default;
$color-green-200: #a0eeba !default;
$color-green-300: #71e597 !default;
$color-green-400: #41dd75 !default;
$color-green-500: #12d452 !default;
$color-green-600: #10bf4a !default;
$color-green-700: #0eaa42 !default;
$color-green-800: #0d9439 !default;
$color-green-900: #0b7f31 !default;
$color-green-1000: #096a29 !default;
$color-green-1100: #075521 !default;

$color-red-50: #fff2f0 !default;
$color-red-100: #ffdeda !default;
$color-red-200: #ffbdb4 !default;
$color-red-300: #ff9c8f !default;
$color-red-400: #ff7b69 !default;
$color-red-500: #ff5a44 !default;
$color-red-600: #e5513d !default;
$color-red-700: #cc4836 !default;
$color-red-800: #b23f30 !default;
$color-red-900: #993629 !default;
$color-red-1000: #802d22 !default;
$color-red-1100: #66241b !default;

$color-cyan-50: #ecfbfd !default;
$color-cyan-100: #cff5fa !default;
$color-cyan-200: #a0ebf5 !default;
$color-cyan-300: #70e0ef !default;
$color-cyan-400: #41d6ea !default;
$color-cyan-500: #11cce5 !default;
$color-cyan-600: #0fb8ce !default;
$color-cyan-700: #0ea3b7 !default;
$color-cyan-800: #0c8fa0 !default;
$color-cyan-900: #0a7a89 !default;
$color-cyan-1000: #096673 !default;
$color-cyan-1100: #07525c !default;

$color-yellow-50: #fffbf0 !default;
$color-yellow-100: #fff4da !default;
$color-yellow-200: #ffe9b4 !default;
$color-yellow-300: #ffdd8f !default;
$color-yellow-400: #ffd269 !default;
$color-yellow-500: #ffc744 !default;
$color-yellow-600: #e5b33d !default;
$color-yellow-700: #cc9f36 !default;
$color-yellow-800: #b28b30 !default;
$color-yellow-900: #997729 !default;
$color-yellow-1000: #806422 !default;
$color-yellow-1100: #66501b !default;

$color-magenta-50: #fdf3f9 !default;
$color-magenta-100: #f9e1ef !default;
$color-magenta-200: #f3c3df !default;
$color-magenta-300: #eea6d0 !default;
$color-magenta-400: #e888c0 !default;
$color-magenta-500: #e26ab0 !default;
$color-magenta-600: #cb5f9e !default;
$color-magenta-700: #b5558d !default;
$color-magenta-800: #9e4a7b !default;
$color-magenta-900: #88406a !default;
$color-magenta-1000: #713558 !default;
$color-magenta-1100: #5a2a46 !default;

$color-purple-50: #f9f1fd !default;
$color-purple-100: #efdcfb !default;
$color-purple-200: #dfb9f7 !default;
$color-purple-300: #cf96f2 !default;
$color-purple-400: #bf73ee !default;
$color-purple-500: #af50ea !default;
$color-purple-600: #9d48d3 !default;
$color-purple-700: #8c40bb !default;
$color-purple-800: #7b38a4 !default;
$color-purple-900: #69308c !default;
$color-purple-1000: #582875 !default;
$color-purple-1100: #46205e !default;

$color-primary: $color-blue-500;
