.alert {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 12px;
  max-width: 600px;
  box-shadow: 0 1px 2px 0 rgba(7, 8, 16, 0.1);
  z-index: $z-index-notifications;
  @include rounded($radius-md);
}

.alert__icon {
  font-size: 18px;
  flex: 0 1 auto;
}

.alert__title {
  font-weight: 500;
  line-height: 20px;
  font-size: 13px;
}

.alert__content {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  font-size: 12px;

  p {
    margin: 0;
  }
}

.alert__close {
  background: none;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  flex: 0 1 auto;
  cursor: pointer;
}

.alert--info-neutral {
  @include alert-style(
    $color-neutral-25,
    $color-neutral-900,
    $color-neutral-1300,
    $color-neutral-400
  );
}

.alert--info-primary {
  @include alert-style(
    $color-blue-50,
    $color-blue-600,
    $color-blue-700,
    $color-blue-200
  );
}

.alert--success {
  @include alert-style(
    $color-green-50,
    $color-green-600,
    $color-green-700,
    $color-green-200
  );
}

.alert--warning {
  @include alert-style(
    $color-yellow-50,
    $color-yellow-600,
    $color-yellow-700,
    $color-yellow-200
  );
}

.alert--error {
  @include alert-style(
    $color-red-50,
    $color-red-600,
    $color-red-700,
    $color-red-200
  );
}

.alert--loading {
  @include alert-style(
    $color-neutral-25,
    $color-neutral-900,
    $color-neutral-1300,
    $color-neutral-400
  );
}

.alert__actions {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}

.alert__button--primary {
  font-weight: 500;
}

.alert--bottom {
  position: fixed;
  right: 30px;
  bottom: 0;
}

.alert--top {
  position: fixed;
  right: 30px;
  top: 0;
}

.alert__loading {
  flex: 0 1 auto;
  cursor: wait;
  user-select: none;
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;

  &::after {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 0.18em solid;
    border-color: $color-neutral-700 transparent $color-neutral-700 transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}
