.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  overflow: hidden;
  color: $white;
  @include rounded($radius-md);
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar--small {
  width: 14px;
  height: 14px;
  font-size: 8px;
}

.avatar--medium {
  width: 24px;
  height: 24px;
}

.avatar--large {
  width: 32px;
  height: 32px;
  font-size: 11px;
}

.avatar--x-large {
  width: 40px;
  height: 40px;
  font-size: 13px;
}

.avatar--rounded {
  @include rounded($radius-3xl);
}

.avatar--blue {
  background: $color-blue-500;
}

.avatar--cyan {
  background: $color-cyan-500;
}

.avatar--green {
  background: $color-green-500;
}

.avatar--yellow {
  background: $color-yellow-500;
}

.avatar--red {
  background: $color-red-500;
}

.avatar--magenta {
  background: $color-magenta-500;
}

.avatar--purple {
  background: $color-purple-500;
}

.avatar--neutral {
  background: $color-neutral-500;
}
