.button {
  cursor: pointer;
  margin-bottom: 0;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  color: #fff;
  border: 1px solid transparent;
  text-align: center;
  display: inline-flex;
  align-items: center;
  line-height: 20px;
  transition: padding 0.05s ease-in-out;
  padding: 12px 20px;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(7, 8, 16, 0.1);

  @include rounded($radius-md);
  @include button-size(); // regular size
  @include button-style(); // primary style

  &:hover {
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px $color-neutral-1300;
  }

  &.active,
  &:active {
    box-shadow: none !important;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    background: $color-neutral-100 !important;
    color: $color-neutral-700;
  }
}

.button--loading {
  position: relative;
  cursor: wait;
  user-select: none;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -7px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 0.15em solid;
    border-color: $white transparent $white transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.button--secondary {
  border: 1px solid #d7d8d9;
  background: #fff;
  @include button-style(
    $white,
    $color-neutral-25,
    $color-neutral-50,
    $color-neutral-1300,
    $color-neutral-900
  );

  &.button--loading {
    &::after {
      border-color: $color-neutral-700 transparent $color-neutral-700
        transparent;
    }
  }
}

.button--danger {
  @include button-style(
    $color-red-600,
    $color-red-700,
    $color-red-800,
    $white,
    $color-red-200
  );
}

.button--large {
  @include button-size(
    $button-large-height,
    $button-large-top-bottom-padding,
    $button-large-right-left-padding
  );
}

.button__icon {
  margin-right: 10px;
  font-size: 16px;
}
