.button-text__icon {
  font-size: 18px;
  color: $color-neutral-600;
}

.button-text {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: $color-neutral-1300;
  background: none;
  margin: 0;
  font-size: 13px;
  border: none;
  font-weight: 500;
  line-height: 20px;
  padding: 2px;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    .button-text__icon {
      color: $color-neutral-1300;
    }
  }

  &:focus {
    background: $white;
    box-shadow: 0 0 0 3px $color-neutral-1300, 0 0 0 2px #fff;
    @include rounded($radius-base);

    .button-text__icon {
      color: $color-neutral-1300;
    }
  }

  &.active,
  &:active {
    box-shadow: none !important;

    .button-text__icon {
      color: $color-neutral-700;
    }
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    color: $color-neutral-700;

    .button-text__icon {
      color: $color-neutral-500;
    }
  }
}

.button-text__loading {
  position: relative;
  cursor: wait;
  user-select: none;
  width: 14px;
  height: 14px;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &::after {
    content: ' ';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 0.18em solid;
    border-color: $color-blue-500 transparent $color-blue-500 transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.button-text--secondary {
  color: $color-neutral-900;

  &:hover,
  &:focus,
  &.active,
  &:active {
    color: $color-neutral-1300;
  }
}

.button-text--small {
  font-size: 12px;
}
