.background-color--light-blue {
  background-color: $color-blue-100;
}

.background-color--light-gray {
  background-color: $color-neutral-100;
}

.background-color--light-green {
  background-color: $color-green-500;
}

.background-color--light-orange {
  background-color: $color-yellow-100;
}

.background-color--light-red {
  background-color: $color-red-100;
}

.background-color--light-yellow {
  background-color: $color-yellow-100;
}

.background-color--light-purple {
  background-color: $color-purple-100;
}

.background-color--light-brown {
  background-color: $color-yellow-100;
}

.background-color--light-pink {
  background-color: $color-magenta-100;
}

.background-color--light-cyan {
  background-color: $color-cyan-100;
}

.background-color--blue {
  background-color: $color-blue-200;
}

.background-color--gray {
  background-color: $color-neutral-200;
}

.background-color--green {
  background-color: $color-green-200;
}

.background-color--orange {
  background-color: $color-yellow-200;
}

.background-color--red {
  background-color: $color-red-200;
}

.background-color--yellow {
  background-color: $color-yellow-200;
}

.background-color--purple {
  background-color: $color-purple-200;
}

.background-color--brown {
  background-color: $color-yellow-200;
}

.background-color--pink {
  background-color: $color-magenta-200;
}

.background-color--cyan {
  background-color: $color-cyan-200;
}

.background-color--dark-blue {
  background-color: $color-blue-300;
}

.background-color--dark-gray {
  background-color: $color-neutral-300;
}

.background-color--dark-green {
  background-color: $color-green-300;
}

.background-color--dark-orange {
  background-color: $color-yellow-300;
}

.background-color--dark-red {
  background-color: $color-red-300;
}

.background-color--dark-yellow {
  background-color: $color-yellow-300;
}

.background-color--dark-purple {
  background-color: $color-purple-300;
}

.background-color--dark-brown {
  background-color: $color-yellow-300;
}

.background-color--dark-pink {
  background-color: $color-magenta-300;
}

.background-color--dark-cyan {
  background-color: $color-cyan-300;
}

.background-color--darker-blue {
  background-color: $color-blue-400;
}

.background-color--darker-gray {
  background-color: $color-neutral-400;
}

.background-color--darker-green {
  background-color: $color-green-400;
}

.background-color--darker-orange {
  background-color: $color-yellow-400;
}

.background-color--darker-red {
  background-color: $color-red-400;
}

.background-color--darker-yellow {
  background-color: $color-yellow-400;
}

.background-color--darker-purple {
  background-color: $color-purple-400;
}

.background-color--darker-brown {
  background-color: $color-yellow-400;
}

.background-color--darker-pink {
  background-color: $color-magenta-400;
}

.background-color--darker-cyan {
  background-color: $color-cyan-400;
}

.color--light-blue {
  color: $color-blue-100;
}

.color--light-gray {
  color: $color-neutral-100;
}

.color--light-green {
  color: $color-green-500;
}

.color--light-orange {
  color: $color-yellow-100;
}

.color--light-red {
  color: $color-red-100;
}

.color--light-yellow {
  color: $color-yellow-100;
}

.color--light-purple {
  color: $color-purple-100;
}

.color--light-brown {
  color: $color-yellow-100;
}

.color--light-pink {
  color: $color-magenta-100;
}

.color--light-cyan {
  color: $color-cyan-100;
}

.color--blue {
  color: $color-blue-200;
}

.color--gray {
  color: $color-neutral-200;
}

.color--green {
  color: $color-green-200;
}

.color--orange {
  color: $color-yellow-200;
}

.color--red {
  color: $color-red-200;
}

.color--yellow {
  color: $color-yellow-200;
}

.color--purple {
  color: $color-purple-200;
}

.color--brown {
  color: $color-yellow-200;
}

.color--pink {
  color: $color-magenta-200;
}

.color--cyan {
  color: $color-cyan-200;
}

.color--dark-blue {
  color: $color-blue-300;
}

.color--dark-gray {
  color: $color-neutral-300;
}

.color--dark-green {
  color: $color-green-300;
}

.color--dark-orange {
  color: $color-yellow-300;
}

.color--dark-red {
  color: $color-red-300;
}

.color--dark-yellow {
  color: $color-yellow-300;
}

.color--dark-purple {
  color: $color-purple-300;
}

.color--dark-brown {
  color: $color-yellow-300;
}

.color--dark-pink {
  color: $color-magenta-300;
}

.color--dark-cyan {
  color: $color-cyan-300;
}

.color--darker-blue {
  color: $color-blue-400;
}

.color--darker-gray {
  color: $color-neutral-400;
}

.color--darker-green {
  color: $color-green-400;
}

.color--darker-orange {
  color: $color-yellow-400;
}

.color--darker-red {
  color: $color-red-400;
}

.color--darker-yellow {
  color: $color-yellow-400;
}

.color--darker-purple {
  color: $color-purple-400;
}

.color--darker-brown {
  color: $color-yellow-400;
}

.color--darker-pink {
  color: $color-magenta-400;
}

.color--darker-cyan {
  color: $color-cyan-400;
}

.color--deep-dark-green {
  color: $color-green-500;
}

.color--deep-dark-orange {
  color: $color-yellow-500;
}
