.formula-input-field__paragraph {
  display: flex;
  align-items: center;
  color: black;
}

.ProseMirror p.is-editor-empty:first-child::before {
  position: absolute !important;
  height: unset !important;
}

.formula_input_field--focused {
  border-color: $color-primary-500;
}
