.form-input__icon {
  position: absolute;
  right: 12px;
  top: 50%;
  font-size: 16px;
  margin-top: -8px;
  color: $color-neutral-700;

  &.form-input__icon-left {
    right: auto;
    left: 12px;
  }

  &.form-input__icon-right {
    left: auto;
    right: 12px;
  }

  .form-input--loading & {
    display: none;
  }
}

.form-input__input {
  border: none;
  border-radius: 3px;
  flex: 1;
  outline: none;
  line-height: 100%;
  padding: 12px 16px;
  background: $white;
  margin: 1px;
  @include rounded($radius-md);

  &::placeholder {
    color: $color-neutral-700;
  }

  .form-input--icon-left & {
    padding-left: 32px;
  }

  .form-input--icon-right & {
    padding-right: 32px;
  }

  &:focus {
    outline: 1px solid #d7d8d9;
  }

  .form-input--disabled & {
    cursor: not-allowed;
    background: $color-neutral-100;
  }
}

.form-input {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  font-size: 13px;
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(7, 8, 16, 0.1);
  @include rounded($radius-md);

  &.form-input--error {
    box-shadow: 0 1px 2px 0 rgba(7, 8, 16, 0.1);

    .form-input__input {
      border: 1px solid $color-yellow-500;
      margin: 0;

      &:focus {
        outline: none;
      }
    }

    .form-input__icon {
      color: $color-yellow-500;
    }
  }

  &:active,
  &:focus,
  &:focus-within {
    &:not(.form-input--disabled) {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px $color-neutral-1300;

      .form-input__icon {
        color: $color-blue-500;
      }
    }
  }

  &.form-input--monospace {
    font-family: monospace;
  }

  &.form-input--disabled {
    cursor: not-allowed;
    color: $color-blue-900;
    background-color: $color-neutral-50;

    &:active,
    &:focus {
      border-color: $color-neutral-400;
    }
  }
}

//   &.form-input--loading {
//     &::after {
//       content: ' ';
//       margin-top: -7px;

//       @include loading(14px);
//       @include absolute(50%, 10px, auto, auto);
//     }

//     &.form-input--with-icon-left::after {
//       left: 10px;
//       right: auto;
//     }
//   }
//
