.formula_input_field--focused {
  border-color: $color-primary-500;
}

.ProseMirror span.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: $color-neutral-500;
  pointer-events: none;
  height: 0;
}
