.control {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.control--align-right {
    display: flex;
    justify-content: right;
  }

  &.control--horizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & .control__elements {
      flex-basis: 70%;
      margin-top: 0;
    }
  }
}

.control__description {
  font-size: 13px;
  line-height: 160%;
  color: $color-neutral-600;
  margin-bottom: 16px;
}

.control__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: $color-neutral-1300;

  &.control__label--small {
    font-size: 13px;
  }

  .control--horizontal & {
    flex-basis: 30%;
    font-weight: 500;
    margin: 0;
  }
}

.control__label-icon {
  margin-right: 6px;
}

.control__label-right-icon {
  margin-left: 6px;
  height: 16px;
  top: 3px;
  position: relative;
}

.control__context {
  color: $color-blue-900;
  margin-left: 6px;

  &:hover {
    text-decoration: none;
    color: $color-neutral-500;
  }
}

.input {
  appearance: none;
  display: block;
  width: 100%;
  border: 1px solid $color-neutral-400;
  border-radius: 3px;
  padding: 8px 12px;
  outline: none;
  line-height: 100%;

  &:active,
  &:focus {
    border-color: $color-blue-500;
  }

  &.input--large {
    padding: 12px 12px;
  }

  &.input--error {
    border-color: $color-red-800;
  }

  &.input--monospace {
    font-family: monospace;
  }

  &[disabled] {
    color: $color-blue-900;
    background-color: $color-neutral-50;

    &:active,
    &:focus {
      border-color: $color-neutral-400;
    }
  }
}

.textarea--modal {
  resize: vertical;
  height: 22px * 6;
  line-height: 22px;
  font-size: 13px;
}

.input__with-icon {
  position: relative;

  .input {
    padding-right: 32px;
  }

  i {
    position: absolute;
    right: 12px;
    top: 50%;
    font-size: 12px;
    line-height: 12px;
    margin-top: -6px;
    color: $color-neutral-300;
  }

  &.input__with-icon--left {
    .input {
      padding-left: 32px;
      padding-right: 8px;

      &.input--large {
        padding-right: 12px;
      }
    }

    i {
      right: auto;
      left: 12px;
    }
  }

  &.input__with-icon--loading {
    &::after {
      content: ' ';
      margin-top: -7px;

      @include loading(14px);
      @include absolute(50%, 10px, auto, auto);
    }

    i {
      display: none;
    }

    &.input__with-icon--left::after {
      left: 10px;
      right: auto;
    }
  }
}

.error {
  font-size: 12px;
  margin-top: 6px;
  color: $color-red-800;
}

.warning {
  margin-top: 6px;
  color: $color-yellow-600;
}

.actions {
  @extend %first-last-no-margin;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;

  > div {
    width: 100%;
  }

  &.actions--right {
    justify-content: right;
  }
}

.action__links {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin-right: 20px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }
  }
}

.control__required {
  margin-left: auto;
  color: $color-neutral-900;
  font-size: 13px;
  font-weight: normal;
}

.control__messages {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  p {
    padding: 0;
    margin: 0;
    line-height: 20px;
    color: $color-neutral-900;
  }

  .error {
    color: $color-red-800;
  }
}
