.form-textarea__textarea {
  border: none;
  border-radius: 3px;
  flex: 1;
  outline: none;
  line-height: 100%;
  padding: 12px 16px;
  background: $white;
  margin: 1px;
  height: 88px;
  @include rounded($radius-md);

  &::placeholder {
    color: $color-neutral-700;
  }

  &:focus {
    outline: 1px solid #d7d8d9;
  }

  .form-textarea--disabled & {
    cursor: not-allowed;
    background: $color-neutral-100;
  }
}

.form-textarea {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  font-size: 13px;
  background: $white;
  box-shadow: 0 1px 2px 0 rgba(7, 8, 16, 0.1);
  @include rounded($radius-md);

  &.form-textarea--error {
    box-shadow: 0 1px 2px 0 rgba(7, 8, 16, 0.1);

    .form-textarea__textarea {
      border: 1px solid $color-yellow-500;
      margin: 0;

      &:focus {
        outline: none;
      }
    }

    .form-textarea__icon {
      color: $color-yellow-500;
    }
  }

  &:active,
  &:focus,
  &:focus-within {
    &:not(.form-textarea--disabled) {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px $color-neutral-1300;

      .form-textarea__icon {
        color: $color-blue-500;
      }
    }
  }

  &.form-textarea--disabled {
    cursor: not-allowed;
    color: $color-blue-900;
    background-color: $color-neutral-50;

    &:active,
    &:focus {
      border-color: $color-neutral-400;
    }
  }
}
