.get-formula-component {
  display: inline-block;
  padding: 2px 6px;
  background-color: $color-neutral-100;
  font-size: 12px;
  margin-left: 1px;
  margin-right: 1px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.get-formula-component--selected {
  border-color: $color-neutral-300;
}

.get-formula-component__caret {
  color: $color-neutral-300;
  padding-left: 5px;
  padding-right: 5px;
}

.get-formula-component__remove {
  color: $color-neutral-500;
  padding-left: 5px;
  padding-right: 5px;

  &:hover {
    text-decoration: none;
  }
}
