.get-formula-component {
  padding: 3px 8px;
  background-color: $color-neutral-100;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.get-formula-component__caret {
  color: $color-neutral-300;
  padding-left: 5px;
  padding-right: 5px;
}

.get-formula-component__remove {
  color: $color-neutral-500;
  padding-left: 5px;
  padding-right: 5px;

  &:hover {
    text-decoration: none;
  }
}
