.progress-bar {
  @include fixed-height(9px, 12px);

  width: 100%;
  border-radius: 5px;
  background-color: $color-neutral-100;
  margin-right: 30px;
}

.progress-bar__inner {
  background-color: $color-green-300;
  border-radius: 5px;
  height: 100%;
  transition-timing-function: linear;

  &--overflow {
    background-color: $color-yellow-500;
  }
}

.progress-bar__status-text {
  color: $color-neutral-400;
  padding-top: 5px;
  position: absolute;
}
