.radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.radio--disabled {
    .radio__label {
      color: $color-neutral-700;
    }
  }
}

.radio__input {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.radio__input input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.radio__input label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid $color-neutral-400;
  box-shadow: 0px 1px 2px 0px rgba(7, 8, 16, 0.1);
}

.radio__input input[type='radio']:focus + label {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px $color-neutral-1300;
}

.radio__input input[type='radio']:disabled + label {
  background-color: $color-neutral-100;
  box-shadow: none;
}

.radio__input input[type='radio']:checked + label {
  // The filling color is hard coded here. we cannot set to $color-primary-500 because of interpolation issue within a background-image property.
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><rect width="16" height="16" rx="8" fill="%234e5cfe"/><circle cx="8" cy="8" r="3" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: none;
}

.radio__input input[type='radio']:disabled:checked + label {
  // The filling color is hard coded here. we cannot set to $color-primary-500 because of interpolation issue within a background-image property.
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><rect width="16" height="16" rx="8" fill="%23CDCECF"/><circle cx="8" cy="8" r="3" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: none;
}

.radio__input .radio__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #007bff;
  border-top-color: transparent;
  animation: radio__loading 0.5s linear infinite;
}

.radio__label {
  flex: 1;
}

.radio__loading {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  position: relative;
  cursor: wait;
  user-select: none;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -7px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 0.2em solid;
    border-color: $color-blue-500 transparent $color-blue-500 transparent;
    animation: spin infinite 1800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.radio--error {
  .radio__input label {
    border: 1px solid $color-red-600;
  }
}
