.tabs {
  width: 100%;
  background-color: $white;
  font-weight: 500;
}

.tabs--full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs__header {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
  border-bottom: solid 1px $color-neutral-200;
}

.tabs__item {
  position: relative;

  &.tabs__item--disabled {
    user-select: none;
    color: $color-neutral-700;
    opacity: 0.6;
    text-decoration: none;

    a {
      cursor: not-allowed;
    }
  }

  &.tabs__item--active::after {
    content: '';
    height: 2px;
    background-color: $color-blue-600;

    @include absolute(auto, 0, -1px, 0);
  }
}

.tabs__link {
  display: block;
  padding: 12px 0;
  color: $color-neutral-900;

  &:hover {
    text-decoration: none;
    color: $color-neutral-1300;
  }

  .tabs__item--active & {
    color: $color-neutral-1300;
  }

  .tabs__item--active &:hover {
    color: $color-blue-600;
  }
}

.tab {
  padding: 14px 15px;
  position: relative;

  .tabs--full-height & {
    overflow: auto;
    height: 100%;
  }

  .tabs--no-separation & {
    padding-left: 0;
    padding-right: 0;
  }
}
