.link-element-form__param {
  & .control {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  & .control__label {
    flex-basis: 30%;
    font-weight: 500;
    margin: 0;
  }

  & .control__elements {
    flex-basis: 70%;
    margin-top: 0;
  }
}

.link-element-form__navigate-option-page-path {
  font-size: 12px;
  color: $color-neutral-500;
  margin-left: 5px;
}

.link-element-form__params-error {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
}
